services:
  - type: web
    name: frontend-bushman
    env: static
    # Explicitly set VITE_BASE_PATH to / for root deployment
    buildCommand: npm install --legacy-peer-deps && export VITE_BASE_PATH=/ && npm run build:ci
    staticPublishPath: ./dist
    envVars:
      - key: VITE_BASE_PATH
        value: /
      - key: NODE_VERSION
        value: 20
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

