/*!
 * Studio VUE v5.0.0 (https://www.seantheme.com/studio-vue/)
 * Copyright 2025 SeanTheme
 */

@import 'vuestudio/font.scss';
@import 'vuestudio/_functions.scss';
@import 'vuestudio/_variables.scss';
@import 'vuestudio/_variables-dark.scss';
@import 'bootstrap/scss/bootstrap.scss';

@import 'vuestudio/_mixins.scss';
@import 'vuestudio/_root.scss';
@import 'vuestudio/_helper.scss';
@import 'vuestudio/_reboot.scss';

@import 'vuestudio/_app.scss';
@import 'vuestudio/_ui.scss';
@import 'vuestudio/_plugins.scss';
@import 'vuestudio/_pages.scss';
@import 'vuestudio/_widgets.scss';
@import 'vuestudio/_layout.scss';
@import 'vuestudio/_rtl.scss';
