.modal-content {
  padding: 16px;
}
.input-group {
  margin-bottom: 16px;
}
.input-label {
  margin-bottom: 8px;
  font-weight: 700;
}
.input-container {
  display: flex;
  align-items: center;
}
.input-container > VaDateInput {
  margin-right: 8px;
}
.input-container > VaInput {
  flex: 1;
}
