.details-page[data-v-a6ded732] {
  padding: 20px;
  font-family: Arial, sans-serif;
}
h1[data-v-a6ded732] {
  color: #333;
}
h2[data-v-a6ded732] {
  color: #555;
  margin-top: 20px;
}
h3[data-v-a6ded732] {
  color: #777;
  margin-top: 15px;
}
p[data-v-a6ded732] {
  margin: 5px 0;
}
.level[data-v-a6ded732],
.role[data-v-a6ded732] {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.bordered-items-form[data-v-18414e7c] {
  border-color: #5c4033;
  border-width: 2px !important;
  border-style: solid !important;
  border-radius: 10px !important;
  padding: 10px !important;
  box-shadow: 0 0 10px #00000040;
}
