.contract-permit-details[data-v-a06ee2e4] {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
}
.permit-title[data-v-a06ee2e4] {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.info-item[data-v-a06ee2e4] {
  margin: 10px 0;
}
h2[data-v-a06ee2e4] {
  border-bottom: 2px solid #eee;
  margin-top: 30px;
  padding-bottom: 10px;
}
.dates-info[data-v-a06ee2e4],
.client-info[data-v-a06ee2e4],
.price-breakdown[data-v-a06ee2e4] {
  margin-top: 20px;
}
strong[data-v-a06ee2e4] {
  color: #555;
}
.sales-inquiry[data-v-66615585] {
  margin: 20px;
}
.split-demo .custom-grabber[data-v-66615585] {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--va-background-element);
}
