.loading-container[data-v-a877c514],
.empty-state[data-v-a877c514] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.client-cell[data-v-a877c514] {
  line-height: 1.3;
}
